<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Practica 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Practica 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Hola mundo</strong>

    <ion-button (click)="info()" class="info">Presiona aquí</ion-button>
    <ion-button (click)="login()" class="info">Ir a login</ion-button>
    <ion-button (click)="registro()" class="info">Ir a registro</ion-button>
  </div>

  <div *ngIf="mensaje" class="mensaje">
    <p>Hola Tony, bien hecho!</p>
  </div>
</ion-content>
